body[swym-watchlist-app-embed-block-loaded] {
    margin: 0;
}

.swym-watchlist-app-embed-modal-container:not(.swym-show) {
    display: none;
}

.swym-watchlist-app-embed-modal {
    position: fixed;
    top: 5%;
    left: 6%;
    z-index: 10000001;
    border-radius: 5px;
    max-width: 360px;
    position: absolute;

    .swym-watchlist-app-embed-modal-hide-btn {
        position: absolute;
        top: 7px;
        right: 14px;
        cursor: pointer;
        z-index: 10000002;
        font-weight: bold;
        font-size: 18px;
        color:#000000;
    }

    .swym-watchlist-app-embed-modal-hide {
        text-decoration: underline;
        margin-left: auto;
        cursor: pointer;
        display: none;
    }
}
.swym-watchlist-app-embed-modal img{
    width: 360px;
    height: 600px;
}
